<!doctype html>
<html>
    <head>
        <style>
        table, th, tr, td {
            border: 0px solid black;
        }
        th {
            text-align: left;
        }
        </style>
        {% if title %}
            <title>{{ title }} - Glico</title>
        {% else %}
            <title>Welcome to Glico</title>
        {% endif %}
    </head>
    <body>
        <table style="width:100%">
            <tr>
                <td style="width:30vw">
                    <a href="{{ url_for('index') }}">Home</a>
                </td>          
                <td style="width:40vw"></td>
                <td style="width:30vw;text-align: right">
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a href="{{ url_for('user', username=current_user.username) }}">Profile|</a>
                        <a href="{{ url_for('logout') }}">Logout|</a>
                        <a href="{{ url_for('unregister') }}">Unregister</a></p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width:100%">
                        <tr>
                            <td><h4>Titluri de stat
                            </td>
                            <td></td>
                        </tr>
                        <tr style="padding-left: 10px;">
                            <td></td>
                            <td>
                                <p><a href="{{ url_for('bond') }}">Lista Titluri de stat</a>
                                <p><a href="{{ 'bond/create' }}">Adauga Titlu de stat</a>
                                <p><a href="{{ url_for('add_transaction_bond') }}">Adauga tranzactie Titlu de stat</a>
                                <p><a href="{{ url_for('transaction_Bond') }}">Lista Tranzactii Titluri de stat</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="width:100%">
                        <tr>
                            <td><h4>Actiuni
                            </td>
                            <td></td>
                        </tr>
                        <tr style="padding-left: 10px;">
                            <td></td>
                            <td>
                                <p><a href="{{ url_for('bond') }}">Lista Actiuni</a></p>
                                <p><a href="{{ 'bond/create' }}">Adauga Actiuni</a>
                                <p><a href="{{ url_for('add_transaction_bond') }}">Adauga tranzactii Actiuni</a>
                                <p><a href="{{ url_for('transaction_Bond') }}">Lista tranzactii Actiuni</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td></td>
            </tr>         
        </table> 
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <hr>
        <hr>
        <h3><i>Hidden:</i></h3>
        <div>
            <a href="{{ url_for('users') }}">Users</a>  
        </div>  
    </body>
</html>